# Membuat Database Algoritma dengan MySQL


## Deskripsi
Algoritma database adalah database yang digunakan untuk sistem scoring academy yang berupa nilai quiz students di Algoritma. Database ini dibuat dengan tujuan untuk merekam semua data yang berhubungan dengan kegiatan academy di Algoritma yang sebelumnya diolah dan disimpan pada Google Sheet. Karena jumlah student semakin besar dan Algoritma sendiri membutuhkan resource penyimpanan yang lebih efektif, maka dibuatlah database ini sehingga kelak proses pengambilan data akan lebih cepat dengan melakukan query database. Database ini berisi beberapa tabel yang saling berelasi satu dengan yang lain. Database Algoritma memiliki 8 tabel dengan rincian sebagai berikut:

### Tabel Student 
Tabel ini berisi data diri student. Setiap student yang akan mengambil course di Algoritma wajib mengisi data pribadi yang berisi tentang:
- `Full name` : nama lengkap student
- `Date of birth` : tanggal lahir student
- `Mailing address` : alamat tinggal student
- `Postal code` : kode pos alamat tinggal student
- `Mobile phone` : nomor telepon student
- `Email` : email aktif student
- `Education` : pendidikan terakhir student
- `Major` : Jurusan/bidang ilmu pendidikan yang diambil student
- `Status employee` : status pekerjaan apakah student sudah bekerta atau belum
- `Job title` : title pekerjaan student
- `Company name` : nama perusahaan tempat student bekerja (jika sudah bekerja)

Tabel student memiliki relasi one-to-many dengan tabel Enrollment (satu student dapat melakukan banyak Enrollment).

### Tabel Batch 
Tabel ini memuat nama batch academy di Algoritma. Satu batch academy di Algoritma biasanya berlangsung selama 3 bulan. Contoh batch di Algoritma yaitu Gaia, Hydra, dan Iris. Tabel ini terdiri dari:
- `id` : id batch
- `batch_name` : nama batch

Tabel batch berelasi one-to-many dengan tabel Enrollment

### Tabel Specialization
Tabel ini memuat nama spesialisasi yang diambil oleh student di Algoritma. Algoritma sendiri memiliki 2 spesialisasi yaitu R dan Python. Setiap spesialisasi ini akan memiliki beberapa course. Tabel ini terdiri dari:
- `id` : id specialization
- `specialization_name`: nama spesialisasi academy di Algoritma 

Tabel specialization memiliki relasi one-to-many dengan tabel Course (Satu spesialisasi memiliki 1 atau lebih course material).

### Tabel Course
Tabel ini memuat course-course yang tersedia di setiap spesialisasi yang ada di Algoritma. Misalnya spesialisasi R memiliki beberapa course seperti Programming for Data Science, Practical Statistic, Interactive Plotting, dan lain-lain. Sedangkan spesialisasi Python memiliki beberapa course yaitu Programming for Data Analytics, Exploratory Data Analysis, dan lain-lain. Tabel ini terdiri dari:
- `id`: id course
- `course_name` : nama course
- `specialization_id` : id specialization

Tabel course memiliki relasi many-to-one dengan tabel Specialization. Selain itu tabel course memiliki relasi one-to-one dengan tabel Quiz (satu course memiliki satu quiz).

### Tabel Quiz
Tabel ini memuat quiz yang merupakan standar kelulusan untuk setiap course yang diambil oleh student. Setiap student wajib untuk mengerjakan quiz di akhir course yang telah diambil. Setiap quiz setidaknya memiliki 1 section quiz, dimana biasanya antar section akan saling berhubungan. Tabel ini terdiri dari:
- `id`: id quiz
- `quiz_name` : nama quiz
- `total_section` : total section untuk masing-masing quiz

Tabel quiz memiliki relasi one-on-one dengan tabel course dan tabel quiz assignment. 

### Tabel Quiz Assignment
Tabel ini merekam assignment quiz dari student. Setiap student hanya bisa melakukan assignment 1 kali per quiz. Tabel ini terdiri dari:
- `id` : id assignment
- `quiz_id` : id quiz 
- `enrollment_id` : id enrollment
- `workshop_name` : nama workshop

Tabel assignment memiliki relasi one-on-one dengan tabel quiz dan tabel enrollment.

### Tabel Quiz Attempt
Tabel ini merekam history pengerjaan quiz oleh student mulai dari waktu mulai pengerjaan hingga perekaman score yang diperoleh oleh student. Tabel ini terdiri dari:
- `id` : id attempt
- `assignment_id` : id assignment
- `attempt_start`: waktu mulai pengerjaan quiz
- `last_section` : section terakhir pengerjaan quiz (default 0 jika baru attempt)
- `score` : score yang diperoleh ketika mengerjakan quiz
- `finish_flag` : 0 ketika belum submit, 1 selesai attempt

Dari rancangan tabel-tabel database di atas, maka dibuatlah sebuah Entity Relational Database(ERD) conceptual yang dapat di gambarkan sebagai berikut:
<br>
<img src="assets/algo_db_conceptual.jpg" width="500">
<br>

## Perancangan Database Menggunakan MySQL
### SQL
Database ini dibangun dengan menggunakan format .sql dimana SQL(Structured Query Language) sendiri adalah bahasa pemrograman khusus yang digunakan untuk memanajemen data dalam RDBMS(Relational Database Management System). SQL berupa perintah sederhana yang berisi instruksi-instruksi untuk melakukan manipulasi data. Perintah SQL disebut dengan *query*. Secara umum terdapat 3 jenis perintah dasar pada SQL, yaitu:
- Data Definition Language (DDL) adalah jenis instruksi SQL yang berkaitan dengan pembuatan struktur tabel maupun database. Termasuk diantaranya : CREATE, DROP, ALTER, dan RENAME.
- Data Manipulation Language (DML) adalah jenis instruksi SQL yang berkaitan dengan data yang ada dalam tabel, tentang bagaiman menginput, menghapus, memperbaharui serta membaca data yang tersimpan di dalam database. Contoh perintah SQL untuk DML : SELECT, INSERT, DELETE, dan UPDATE.
- Data Control Language (DCL) adalah jenis instruksi SQL yang berkaitan dengan manajemen hak akses dan pengguna (user) yang dapat mengakses database maupun tabel. Termasuk diantaranya : GRANT dan REVOKE.

Pada perancangan database Algoritma ini akan lebih banyak menggunakan jenis perintah DDL yaitu CREATE (membuat tabel).


### MySQL 
MySQL adalah sebuah database management system (manajemen basis data) menggunakan perintah dasar SQL. Untuk dapat menggunakan MySQL pada komputer, kita harus menginstall MySQL terlebih dahulu. Anda dapat menggunakan beberapa pilihan yaitu:
- install MySQL dan akses menggunakan Command Prompt. [Download](https://dev.mysql.com/downloads/installer/) disini. 
- install MySQL Workbench (jika ingin mengakses dengan tampilan GUI). [Download](https://dev.mysql.com/downloads/workbench/) disini.

Selain cara di atas, Anda juga dapat membuat sebuah database melalui xampp. XAMPP terdiri dari cross-platorm(X), berupa Apache(A), MySQL(M), PHP(P), dan Perl(P). Ini adalah aplikasi yang memberikan solusi untuk Anda yang ingin menjalankan web server di lokal komputer ketika akan melakukan pengetesan aplikasi yang dibuat. Cara ini lebih praktis jika Anda tidak terlalu hafal dengan query untuk membuat, menghapus, atau mengubah tabel database. XAMPP ini nantinya akan digunakan untuk dumping database.

## Membuat Database Algoritma
Untuk dapat membuat sebuah database menggunakan MySQL, langkah pertama yang dilakukan adalah mengaktifkan MySQL di komputer kita.
1. Buka XAMPP Control Panel. Buka di bagian sistem komputer Anda -> pilih folder xampp -> pilih xampp-control. Pada kotak dialog xampp control panel, aktifkan Apache dan Mysql dengan klik Start.
<img src="assets/xampp_cp.png" width="600">
<br>

2. Buka Command Prompt (untuk Windows). Kemudian pindah directory ke folder mysql dengan perintah cd(`cd xampp\mysql\bin`). Kemudian untuk mengakses mysql gunakan perintah `mysql -u root`.
<img src="assets/open_mysql.png" width="500">
<br>

3. Buat database baru dengan perintah `CREATE DATABASE algoritma_db;`. Perintah `CREATE DATABASE` digunakan untuk membuat database baru. Jika sudah berhasil maka akan muncul notifikasi Query OK. Selanjutnya aktifkan database yang baru dibuat dengan menggunakan perintah `use *namadatabase*`
<img src="assets/create_db.png" width="400">
<br>
4. Membuat tabel database.
    - Tabel Student
    
    Tabel student dibuat dengan menuliskan perintah `CREATE TABLE nama_table`. Query untuk membuat tabel student dapat dilihat pada gambar di bawah:
<img src="assets/student.png" width="400">
<br>
Pada query di atas, `id` student dijadikan primary key sebagai identifikasi key yang unik untuk tabel student. `NOT NULL` artinya sebuah row tidak boleh kosong/null. `AUTO_INCREMENT` artinya nilainya akan bertambah secara otomatis seiring bertambahnya data yang diinputkan.

    - Tabel Batch
    
    Query untuk membuat tabel batch dapat dilihat pada gambar di bawah:
<img src="assets/batch.png" width="400">
<br>

    - Tabel Specialization
    
    Query untuk membuat tabel specialization dapat dilihat pada gambar di bawah:
<img src="assets/specialization.png" width="400">
<br>

    - Tabel Course
    
    Query untuk membuat tabel course dapat dilihat pada gambar di bawah:
<img src="assets/course.png" width="800">

    Pada query tabel course di atas ditambahkan sebuah constraint foreign key, yaitu key unik yang mengacu ke tabel lain karena saling berelasi. Query `CONSTRAINT fk_course_specialization FOREIGN KEY (specialization_id) REFERENCES specialization(id) ON DELETE CASCADE ON UPDATE CASCADE` menghasilkan sebuah constraint baru bernama `fk_course_specialization` yang id nya mengacu pada `id_specialization` pada tabel specialization dengan perlakukan `CASCADE`, artinya ketika ada perubahan (baik menghapus atau mengubah data) pada tabel specialization maka data yang ada pada tabel course yang memiliki hubungan dengan tabel specialization akan ikut berubah.
    
    - Tabel Enrollment
    
    Query untuk membuat tabel enrollment dapat dilihat pada gambar di bawah:
<img src="assets/enrollment.png" width="800">

    Tabel enrollment membawa informasi siapa student yang melakukan enrollment dan student tersebut berasl dari batch apa. Oleh karena itu, ditambahkan 2 buah foreign key yang mereference `student_id` pada tabel student dan `batch_id` mereference tabel batch. 
    
    - Tabel Quiz
    
    Query untuk membuat tabel quiz dapat dilihat pada gambar di bawah:
<img src="assets/quiz.png" width="800">

    Sebuah quiz yang dibuat berasal dari sebuah course. Oleh karena itu pada tabel quiz terdapat sebuah foreign key yang mengacu pada `course_id` pada tabel course. 

    - Tabel Quiz Assignment
    
    Query untuk membuat tabel quiz assignment dapat dilihat pada gambar di bawah:
<img src="assets/quiz_assignment.png" width="800">

    Tabel quiz assignment memiliki ketergantungan pada tabel quiz dan tabel enrollment. Oleh karena itu, ditambahkan 2 buah constraint foreign key yang mereference `id` pada kedua tabel tersebut. 
    
    - Tabel Quiz Attempt
    
    Query untuk membuat tabel quiz attempt dapat dilihat pada gambar di bawah:
<img src="assets/quiz_attempt.png" width="800">

    Tabel quiz attempt berelasi dengan tabel quiz assignment. Karena tabel ini membawa informasi dari tabel assignment, maka ditambahkan sebuah constraint foreign key yang mereference `assignment_id` pada tabel quiz assignment. Tabel quiz attempt ini nantinya yang akan memberikan informasi akhir apakah seorang student telah selesai mengerjakan quiz dan berapa total nilai quiz yang diperolehnya.
<br>
    
5. Melihat tabel pada database Algoritma
Untuk dapat melihat tabel-tabel yang ada pada database yang telah dibuat dapat menggunakan perintah `show tables`. Output yang dihasilkan dapat dilihat pada gambar di bawah ini:
<img src="assets/tables.png" width="300">
<br>

6. Export dan Import database
Dumping database di localhost adalah mengubah/mengekspor database ke dalam file SQL agar dapat diupload ke server hosting. Pada tahap ini saya melakukan dumping database pada localhost phpmyadmin. Untuk dapat mengakses portal pypmyadmin pada komputer, kembali ke xampp control panel dan plih tombol `Admin` di samping MySQL.
<img src="assets/admin.png" width="600">
<br>
Setelah itu lalu muncul tampilan PHPMyAdmin seperti gambar di bawah ini. Kemudian pilih database `algo_db` untuk melihat struktur database yang telah dibuat. 
<img src="assets/php_v1.png">
<br>
Untuk mengeksport database pilih menu Export di bagian atas, kemudian pilih SQL sebagai format penyimpanan file kemudian pilih Go. Jika berhasil, maka file database.sql akan secara otomatis terunduh.
<img src="assets/export.png" width=400>
<br>
Selanjutnya kita dapat cek kembali apakah file database.sql yang terunduh dapat di import ke database lain. Pertama kita buat terlebih dahulu database baru yang masih kosong isinya (agar lebih praktis lakukan di phpmyadmin). Kemudian pilih database yang baru dibuat tersebut. Pada bagian atas pilih Import. 
<img src="assets/create_db_php.png" width=400>
<br>
Pilih database.sql dengan menekan tombol `Choose File`. File ini nantinya yang akan diimportkan ke database baru yang telah dibuat. Jika file.sql telah terupload pilih tombol Go.
<img src="assets/import.png" width=400>
<br>
Jika berhasil maka akan muncul notifikasi bahwa import telah berhasil dilakukan.
<img src="assets/sucsess.png">
<br>

## Kesimpulan
Database Algoritma telah berhasil dibuat dengan menggunakan MySQL. Untuk Anda yang kurang familiar dengan query SQL, Anda dapat dengan mudah membuat database dengan mengakses PHPMyAdmin. Akan tetapi kemampuan untuk memahami query tetap saja penting karena suatu saat itu akan berguna ketika kita akan mengambil data pada database yang telah dibuat. Pemilihan tipe data untuk setiap row pada tabel juga penting karena jenis data yang sangat banyak dan perlu sebuah tempat yang tepat untuk menampung data tersebut. Misalkan di atas saya cenderung menggunakan tipe data `CHAR` untuk menyimpan postal code yang panjangnya tetap untuk semua nilai dibandingkan `VARCHAR` yang lebih cocok digunakan untuk menyimpan mailing list yang panjangnya cenderung dinamis. Pada akhir pembuatan database, jangan lupa untuk melakukan dumping database agar database yang dibuat dapat di share dan diupload ke server hosting. Sekian, semoga bermanfaat. 

## Referensi 
[W3SCHOOL](https://www.w3schools.com/sql/)